<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<application
android:allowBackup="true"
android:label="RAMcryptr"
android:supportsRtl="true"
android:theme="@style/Theme.AppCompat.Light.NoActionBar">

<activity
android:name=".MainActivity"
android:exported="true">
<intent-filter>
<action android:name="android.intent.action.MAIN"/>
<category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>
</activity>

<activity
android:name=".EncodeProcessTextActivity"
android:label="Encode"
android:exported="true">
<intent-filter>
<action android:name="android.intent.action.PROCESS_TEXT"/>
<data android:mimeType="text/plain"/>
<category android:name="android.intent.category.DEFAULT"/>
</intent-filter>
</activity>

<activity
android:name=".DecodeProcessTextActivity"
android:label="Decode"
android:exported="true">
<intent-filter>
<action android:name="android.intent.action.PROCESS_TEXT"/>
<data android:mimeType="text/plain"/>
<category android:name="android.intent.category.DEFAULT"/>
</intent-filter>
</activity>

<activity
android:name=".ClipboardDecodePromptActivity"
android:exported="false"/>

<service
android:name=".ClipboardMonitorService"
android:exported="false"/>

<activity
android:name=".ShareEncodeActivity"
android:label="RAMcryptr Encode"
android:exported="true">
<intent-filter>
<action android:name="android.intent.action.SEND"/>
<category android:name="android.intent.category.DEFAULT"/>
<data android:mimeType="text/plain"/>
</intent-filter>
</activity>

<activity
android:name=".ShareDecodeActivity"
android:label="RAMcryptr Decode"
android:exported="true">
<intent-filter>
<action android:name="android.intent.action.SEND"/>
<category android:name="android.intent.category.DEFAULT"/>
<data android:mimeType="text/plain"/>
</intent-filter>
</activity>

</application>

</manifest>
