<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rambo.ramcryptr">

    <application
        android:allowBackup="true"
        android:label="RAMcryptr"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 🔥 FILE PROVIDER (CRITICAL FIX) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rambo.ramcryptr.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="*/*"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>

        </activity>

        <activity android:name=".FileEncryptActivity" android:exported="true"/>
        <activity android:name=".FileDecryptActivity" android:exported="true"/>

        <activity android:name=".EncodeTextActivity" android:exported="true"/>
        <activity android:name=".DecodeTextActivity" android:exported="true"/>

    </application>

</manifest>
